@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monocraft';
  src: url('/fonts/Monocraft-no-ligatures.ttf');
}

@layer base {
  html {
    font-family: 'Monocraft', 'Inter', sans-serif;
    @apply bg-black text-gray-200;
  }
}

html, body {
    margin: 0;
    height: 100%;
}